UUID v5 URL formatas

Reikia apsispręsti dėl UUID v5 formato.

## Kontekstas

Šiuo metu **globaliems identifikatoriams** naudojamas UUID v4 formatas, kuris yra generuojamas iš atsitiktinių skaičių ir neturi jokio ryšio su **lokaliu identifikatoriumi**.

Globalių ir lokalių identifikatorių sąsaja yra saugoma Keymap lentelėse. Keymap lentelės vaidmuo pasidaro labai svarbus ir Keymap lentelės praradimo atveju, turėtume rimtą duomenų praradimo/sugadinimo incidentą, kurio pasekmės gali būti labai rimtos, būtų sutrikdytas informacinių sistemų veikimas.

## Pasiūlymas

Kad sumažinti **Globalių identifikatorių** praradimo riziką, siūloma naudoti UUID v5 formatą, kuris turi vienpusį ryšį su **Lokaliu identifikatoriumi**.

Vienpusis ryšys reiškia, kad galima atstatyti Globalų identifikatorių, turint Lokalų identifikatorių. Tai reiškia, kad net ir praradus Globalius identifikatorius, galima juos atstatyti iš Lokalių.

Tačiau atgalinis ryšys neveikia, t.y. nėra galimybės gauti Lokalų identifikatorių, turint Globalų. Reikia atkreipti dėmesį, kad nors nėra atgalinio ryšio, tačiau tai Lokalių identifikatorių neapsaugo, nes galima atspėti Lokalius identifikatorius perrinkimo būdu, žinant Lokalaus identifikatoriaus generavimo algoritmą.

## Sprendimas

UUID v5 identifikatorių generavimo funkcija naudoja du argumentus:

```python
uuid5(namespace, name)
```

### `namespace`

`namespace` dalyje siūlau naudoti URL, kaip nurodyta specifikacijoje:

> This section details the namespace IDs for some potentially interesting namespaces such as those for DNS [[RFC9499](https://datatracker.ietf.org/doc/html/rfc9499)], URLs [[RFC1738](https://datatracker.ietf.org/doc/html/rfc1738)], OIDs [[X660](https://datatracker.ietf.org/doc/html/rfc9562.html#X660)], and DNs [[X500](https://datatracker.ietf.org/doc/html/rfc9562.html#X500)].
>
> | Namespace | Namespace ID Value | Name Reference | Namespace ID Reference |
> | --------- | ------------------ | -------------- | ---------------------- |
> | URL       | `6ba7b811-9dad-11d1-80b4-00c04fd430c8` | [[RFC1738](https://datatracker.ietf.org/doc/html/rfc1738)] | [[RFC4122](https://datatracker.ietf.org/doc/html/rfc4122)], RFC 9562 |

-- <https://datatracker.ietf.org/doc/html/rfc9562.html#section-6.6>

### `name`

`name` dalyje siūlau vadovautis URI formavimo tvarka:

- <https://vssa.atlassian.net/wiki/x/AwCiAQ>

Kur Lokalūs identifikatoriai būtų sudaromi pagal tokį šabloną:

    https://data.gov.lt/id/{namespace}/{id1}(/{idN})

Kur kintamos dalys būtų:

- **namespace** - bazinio modelio vardų erdvė.
- **id1**, **idN** - URL encoded lokalūs identifikatoriai, kurių gali būti daugiau nei vienas.

## Bazinio modelio vardų erdvė

Svarbu, kad lokalūs identifikatoriai visada naudotu bazinio modelio, pirminio rakto lokalų identifikatorių, kad būtų užtikrintas sąveikumas tarp skirtingų duomenų rinkinių, potencialiai naudojančių skirtingus lokalius identifikatorius.

## Pavyzdys

Turin modelio `datasets/gov/rc/ar/broker/Apskritis` objektą su **Lokaliu identifikatoriumi** `42`:

```python
uuid.uuid5(
    uuid.NAMESPACE_URL,
    'https://data.gov.lt/id/datasets/gov/rc/ar/broker/Apskritis/42'
)
```

Gausime tokį **Globalų identifikatorių**:

    4ac522b0-869c-5af9-a01e-aac596c33dcc

UDTS palikit kaip yra. Spinta agentas neturi palaikyti generavimo. 